html, body {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #A3D8FF;
  font-size: 16px;
  height: 100%;
}
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  padding-bottom: 5px;
}
header {
  background: #424242
}

#headerimage {
  margin: auto;
  width: 50%;
  background-color: black;
}

#menu {
  background-color: #323232;
  height: 8vh;
  border-top: black 2px solid;
  display:flex;
  align-items: center;
}

#mainbody {
  margin: auto;
  width: 57%;
  padding: 25px;
  background-color: #E6F8FF;
  height: 100%;
  color: black
}

ul {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  padding-inline-start: 0;
}

li {
  float:left;
}

li>a {
  display: block;
  color: white;
  padding: 18px 30px;
  text-align: center;
  text-decoration: none;
}

li>a:hover {
  background-color:#272727
}

